<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<appSettings>
		<add key="DownLoadTimeInSeconds" value="40" />
	    <add key="LoginTimeinMinute" value="10" />
	    <add key="SendFaxTimeinMinute" value="3" />
	</appSettings>

    <connectionStrings>
        <add name="SendFaxApp.Properties.Settings.FaxConfigDBConnectionString"
            connectionString="{AppDir}\Faxsqlite.db"
            providerName="SQLite" />
    </connectionStrings>
</configuration>